params {
    input = null
    outdir               = "results"

    kraken2_db           = null

    min_completeness     = 50
    max_contamination    = 10

    checkm2_db           = null
    card_db              = null
    metaphlan_db_dir     = null
    metaphlan_index      = null
    strainphlan_pkl      = null
    strainphlan_clade    = null
    strainphlan_min_samples = 4
    antismash_sif        = null
    gtdbtk_db            = null
    humann_nucleotide_db = null
    humann_protein_db    = null
    humann_sif           = null
    humann_metaphlan_db_dir = null
    humann_metaphlan_index  = null
    krona_taxonomy       = null
    apptainer_binds      = ""
    skip_host_removal    = true
    skip_krona           = false
    host_index           = null
    run_fastp       = true
    run_kraken2     = true
    run_assembly    = true
    run_strainphlan = true
    run_multiqc     = true
    run_eggnog      = false


}


profiles {
    conda  { conda.enabled = true }
    eureka2 { includeConfig 'conf/eureka2.config' }
    local   { includeConfig 'conf/local.config' }
    test    { includeConfig 'conf/eureka2.config'
              includeConfig 'conf/test.config' }
}

process {
    errorStrategy = 'terminate'


    withName: FASTP {
        cpus   = 4
        memory = '16 GB'
        time   = '6h'
    }


    withName: KRAKEN2 {
    cpus   = 8
    memory = '32 GB'
    time   = '8h'
}


    withName: MEGAHIT {
        cpus   = 8
        memory = '80 GB'
        time   = '12h'
    }

    withName: METABAT {
        cpus   = 8
        memory = '32 GB'
        time   = '24h'
    }

    withName: CHECKM2 {
        cpus   = 8
        memory = '32 GB'
        time   = '24h'
    }

    withName: FILTER_BINS {
        cpus   = 1
        memory = '4 GB'
        time   = '2h'
    }

    withName: COLLECT_PASSED_BINS {
        cpus   = 1
        memory = '4 GB'
        time   = '2h'
    }

    withName: PROKKA {
        cpus   = 4
        memory = '16 GB'
        time   = '12h'
    }

    withName: RGI {
        cpus   = 4
        memory = '16 GB'
        time   = '12h'
    }

    withName: ANTISMASH {
        cpus           = 4
        memory         = '32 GB'
        time           = '24h'
        errorStrategy  = 'retry'
        maxRetries     = 1
    }

    withName: METAPHLAN_MAPOUT {
        cpus   = 4
        memory = '64 GB'
        time   = '8h'
    }

    withName: SAMPLE2MARKERS {
        cpus   = 4
        memory = '32 GB'
        time   = '4h'
    }

    withName: STRAINPHLAN_CLADES {
        cpus   = 4
        memory = '32 GB'
        time   = '4h'
    }

    withName: STRAINPHLAN_RUN {
        cpus   = 4
        memory = '32 GB'
        time   = '12h'
    }


    withName: HUMANN {
    cpus   = 8
    memory = '64 GB'
    time   = '24h'
    
    }

    withName: MULTIQC {
    cpus   = 2
    memory = '8 GB'
    time   = '2h'
}


}

params.make_report = false
params.report_outdir = "${params.outdir}/auto_report"

params.run_gtdbtk = false

params.run_fastani = false


process {
    withName: STRAINPHLAN_RUN {
        errorStrategy = 'ignore'
        maxRetries = 0
    }

    withName: STRAINPHLAN_CLADES {
        errorStrategy = 'ignore'
        maxRetries = 0
    }

    withName: SELECT_STRAINPHLAN_CLADES {
        errorStrategy = 'ignore'
        maxRetries = 0
    }

    withName: GTDBTK {
        errorStrategy = 'retry'
        maxRetries = 1
    }

    withName: FASTANI {
        errorStrategy = 'retry'
        maxRetries = 1
    }

    withName: REPORT {
        errorStrategy = 'ignore'
    }
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.tsv"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
    overwrite = true
}

params.run_humann = false
params.run_antismash = false
