process {
    executor = 'slurm'
    queue = 'shared'

    withName: FASTP {
        container = 'docker://quay.io/biocontainers/fastp:0.23.4--h125f33a_5'
    }

    withName: KRAKEN2 {
        container = 'docker://quay.io/biocontainers/kraken2:2.1.5--pl5321h077b44d_0'
    }

    withName: BRACKEN {
        container = 'docker://quay.io/biocontainers/bracken:2.9--py39h9e0f934_1'
    }

    withName: KRONA {
        container = 'docker://quay.io/biocontainers/krona:2.8.1--pl5321hdfd78af_1'
    }

    withName: MEGAHIT {
        container = 'docker://quay.io/biocontainers/megahit:1.2.9--haf24da9_8'
    }

    withName: QUAST {
        container = 'docker://quay.io/biocontainers/quast:5.2.0--py39pl5321h2add14b_1'
    }

    withName: METABAT {
        container = 'docker://quay.io/biocontainers/metabat2:2.17--h6f16272_1'
    }

    withName: CHECKM2 {
        container = 'docker://quay.io/biocontainers/checkm2:1.1.0--pyh7e72e81_1'
    }

    withName: COVERM {
        container = 'docker://quay.io/biocontainers/coverm:0.7.0--hcb7b614_4'
    }

    withName: PROKKA {
        container = 'docker://quay.io/biocontainers/prokka:1.14.6--pl5321hdfd78af_4'
    }

    withName: RGI {
        container = 'docker://quay.io/biocontainers/rgi:6.0.3--pyha8f3691_1'
    }

    withName: METAPHLAN_MAPOUT {
        container = 'docker://quay.io/biocontainers/metaphlan:4.2.4--pyhdfd78af_0'
    }

    withName: SAMPLE2MARKERS {
        container = 'docker://quay.io/biocontainers/metaphlan:4.2.4--pyhdfd78af_0'
    }

    withName: STRAINPHLAN_CLADES {
        container = 'docker://quay.io/biocontainers/metaphlan:4.2.4--pyhdfd78af_0'
    }

    withName: STRAINPHLAN_RUN {
        container = 'docker://quay.io/biocontainers/metaphlan:4.2.4--pyhdfd78af_0'
    }

    withName: HUMANN {
        container = 'docker://quay.io/biocontainers/humann:3.7--pyh7cba7a3_1'
    }

    withName: HUMANN_TABLES {
        container = 'docker://quay.io/biocontainers/humann:3.7--pyh7cba7a3_1'
    }

    withName: MULTIQC {
        container = 'docker://quay.io/biocontainers/multiqc:1.19--pyhdfd78af_0'
    }

    withName: REPORT {
        container = 'docker://quay.io/biocontainers/r-base:4.3.1'
    }

    withName: GTDBTK {
        container = 'docker://quay.io/biocontainers/gtdbtk:2.7.0--pyhdfd78af_0'
    }

    withName: FASTANI {
        container = 'docker://quay.io/biocontainers/fastani:1.34--hb66fcc3_7'
    }
}

apptainer {
    enabled = true
    autoMounts = true
    pullTimeout = '60 min'
}

conda {
    enabled = false
}
