params {

    input  = "samplesheet_test4.csv"
    outdir = "results_test"

    skip_host_removal = true
    skip_krona = false

    // Example small-scale testing resources
    min_completeness = 50
    max_contamination = 10
}

process {

    executor = 'local'

    withName: FASTP {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }

    withName: HUMANN {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }

    withName: MEGAHIT {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: CHECKM2 {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }

    withName: ANTISMASH {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
}
